<table class="table table-bover">
  <thead>
    <tr>
      <td>#</td>
      <td>Title</td>
      <td>Description</td>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td>#</td>
        <td><%= group.title %></td>
        <td><%= group.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
